Source: swaylock-effects
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: swaylock-effects
Architecture: linux-any
Depends: ${misc:Depends},
Conflicts: swaylock
Provides: swaylock
Description: Wayland screenlocker with fancy effects
